@model MVCMusicStore.Models.Genre;

@{
    ViewBag.Title = "Browse Albums";
}

<h2>Browsing genre: @Model.Name</h2>

<div class="genre">
    <h3><em>@Model.Name</em> Albums</h3>
    <ul id="album-list">
        @foreach (var album in Model.Albums)
        {
            <li>
                <a href="@Url.Action("Details", new { id = album.AlbumId })">
                    <img alt="@album.Title" src="https://image.flaticon.com/icons/png/512/91/91257.png" style="width: 20px; height: 20px;"/>
                    <span>@album.Title</span>
                </a>
            </li>
        }
    </ul>
</div>
